[submodule "zmk-helpers"]
	path = modules/zmk-helpers
	url = https://github.com/urob/zmk-helpers.git
[submodule "modules/zmk-unicode"]
	path = modules/zmk-unicode
	url = https://github.com/urob/zmk-unicode.git
