/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
	quick_tap_ms = <150>;
	retro-tap;
};

/ {
	combos {
		#include "combos.h"
		COMBO(ENTR, &kp RET, 4 7)
		COMBO(QUOT, &kp SQT, 17 18)
		COMBO(DQUO, &kp DQT, 27 32)
		COMBO(LBRC, &kp LBRC, 3 4)
		COMBO(RBRC, &kp RBRC, 4 5)
		COMBO(LBKT, &kp LBKT, 6 7)
		COMBO(RBKT, &kp RBKT, 7 8)
		COMBO(BKSL, &kp BSLH, 3 8)
		COMBO(COLN, &kp COLON, 5 6)
		COMBO(PLUS, &kp PLUS, 14 21)
		COMBO(QUES, &kp QMARK, 28 31)
		COMBO(UNDS, &kp UNDER, 29 30)
		COMBO(MINS, &kp MINUS, 16 19)
		COMBO(EQAL, &kp EQUAL, 15 20)
	};
};

/ {
  keymap {
    compatible = "zmk,keymap";
      base {
        bindings = <
		&kp C_NEXT  &mt LALT Q   &kp W &kp E &kp R &kp T         &kp Y &kp U  &kp I     &kp O   &mt RALT P      &kp C_VOL_UP
		&kp C_PLAY  &mt LSHFT A  &kp S &kp D &kp F &kp G         &kp H &kp J  &kp K     &kp L   &mt LSHFT SEMI  &kp C_MUTE
		&kp C_PREV  &mt LCTL Z   &kp X &kp C &kp V &kp B         &kp N &kp M  &kp COMMA &kp DOT &mt RCTL FSLH   &kp C_VOL_DN
				    &kp LGUI &mo 1 &kp SPACE         &kp BSPC &trans &kp RC(RS(V))
        >;
      };
      num {
        bindings = <
		&bt BT_CLR   &mt LALT N1    &kp N2   &kp N3     &kp N4     &kp N5         &kp N6    &kp N7        &kp N8     &kp N9    &mt RALT N0    &trans
		&bt BT_SEL 0 &mt LSHFT EXCL &kp AT   &kp HASH   &kp DLLR   &kp PRCNT      &kp CARET &kp AMPERSAND &kp ASTRK  &kp LPAR  &mt RSHFT RPAR &trans
		&bt BT_SEL 1 &mt LCTL ESC   &kp TAB  &kp CAPS   &kp TILDE  &kp GRAVE      &kp LEFT  &kp DOWN      &kp UP     &kp RIGHT &kp RCTL       &trans
								&trans &trans &trans     &trans &trans &trans
        >;
      };
  };
};
