/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping_term_ms = <420>;
};

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &mt LALT Q      &kp W      &kp E       &kp R       &kp T  &kp Y  &kp U       &kp I       &kp O      &mt RALT P
    &mt LSHFT A &kp S &kp D &kp F &kp G  &kp H  &kp J &kp K &mt RSHFT L &kp BSPC
    &mt LCTL Z                 &kp X       &kp C       &kp V  &kp B  &kp N       &kp M       &kp COMMA  &mt RCTL
    &kp C_NEXT  &trans   &kp LGUI       &lt NAV SPACE    &mo NAV   &kp RC(RS(V))   &trans    &trans
            >;
        };
        num_sym {
            bindings = <
    &mt LALT N1     &kp N2     &kp N3     &kp N4     &kp N5 &kp N6 &kp N7     &kp N8      &kp N9    &mt RALT N0
    &mt LSHFT EXCL    &kp AT     &kp HASH     &kp DLLR     &kp PRCNT &kp CARET &kp AMPERSAND     &kp ASTRK      &kp LPAR &mt RSHFT RPAR
    &mt LCTL ESC        &kp TAB      &kp CAPS    &kp TILDE  &kp GRAVE  &kp LEFT      &kp UP       &kp DOWN     &mt RCTL RIGHT
    &trans &trans    &kp LGUI         &trans        &kp FSLH             &kp RGUI     &trans    &trans
            >;
        };

    nav {
            bindings = <
    &bt BT_CLR &bt BT_NXT &bt BT_PRV &none       &none &none &none       &kp UP       &none     &kp BSPC
    &trans     &trans     &trans     &trans      &none &none &kp LEFT    &kp DOWN     &kp RIGHT &none
    &none                 &none      &none       &none &none &none       &none        &none     &none
    &none      &none      &none         &trans        &trans             &kp RET      &trans    &kp FSLH
            >;
        };
    };
};
